body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #283136;
}

b {
  color: #000;
}

.block-center {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}

.block-center__main {
  flex-direction: column;
}

.main-header {
  box-sizing: border-box;
  padding-top: 49px;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #eee;
}

.main-header__logo-image {
  display: block;
}

.main-header__nav,
.main-header__basket {
  margin-top: 34px;
}

.main-header__nav-list {
  display: flex;
  width: 438px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__nav-link,
.main-header__basket {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.main-header__nav-link a:hover {
  color: #fb565a;
}

.main-header__nav-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__link--active {
  border-bottom: 2px solid background-color: #fb565a;
}

.main-header__basket::before {
  content: "";
  margin-right: 26px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

/*Слайдер*/

.slider {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  height: 431px;
  padding-left: 140px;
  padding-right: 140px;
  color: #fff;
  background-color: #eee;
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
  padding-right: 50px;
}

.slider__item-slogan {
  display: inline-block;
  margin-top: 85px;
  margin-bottom: 28px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item-snippet {
  margin-bottom: 42px;
  color: #000;
}

.slider__item-button {
  display: inline-block;
  width: 240px;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.slider__item-button:hover {
  background-color: #e74246;
}

.slider__item-button:active {
  background-color: #d7373b;
  opacity: 0.3;
}

.slider__labels {
  position: absolute;
  bottom: 96px;
  left: 0;
  z-index: 10;
  font-size: 0;
}

.slider__label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__input {
  display: none;
}

.slider__images {
  display: block;
}

.slider__image {
  display: none;
}

.slider__input--slide1:checked ~ .slider__images .slider__image-1,
.slider__input--slide2:checked ~ .slider__images .slider__image-2,
.slider__input--slide3:checked ~ .slider__images .slider__image-3 {
  display: block;
}

.slider__input--slide1:checked ~ .slider__list #slider__item-slide1,
.slider__input--slide2:checked ~ .slider__list #slider__item-slide2,
.slider__input--slide3:checked ~ .slider__list #slider__item-slide3 {
  display: block;
}

.slider__input--slide1:checked ~ .slider__list #slider__item-slide1 {
  width: 378px;
}

.slider__input--slide2:checked ~ .slider__list #slider__item-slide2 {
  width: 515px;
}

.slider__input--slide3:checked ~ .slider__list #slider__item-slide3 {
  width: 408px;
}

.slider__input--slide1:checked ~ .slider__labels .slider__label--slide1::after,
.slider__input--slide2:checked ~ .slider__labels .slider__label--slide2::after,
.slider__input--slide3:checked ~ .slider__labels .slider__label--slide3::after  {
  position: absolute;
  box-sizing: border-box;
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: transparent;
}

/*Услуги*/

.services {
  box-sizing: border-box;
  width: 1440px;
  padding: 80px 200px 80px 140px;
  margin: 0 auto;
}

.services__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  list-style: none;
  border-bottom: 2px solid #eee;
}

.services__item {
  margin-right: 100px;
}

.services__item:last-child {
  margin-right: 0;
}

.services__item-header {
  margin-top: 26px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__item-description {
  margin-top: 26px;
  margin-bottom: 35px;
}

.services__item-button {
  display: block;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.services__item-button--red {
  background-color: #fb565a;
}

.services__item-button--green {
  background-color: #00ca74;
}

.services__item-button--yellow {
  background-color: #efc84a;
}

.studio-description {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  width: 1440px;
  padding: 40px 140px 76px 141px;
  background-color: yellow;
}

.studio-description__slogan {
  font-size: 45px;
  line-height: 45px;
}

.studio-description__snippet {
  margin-top: 35px;
  margin-bottom: 47px;
}

.studio-description__list-orders,
.studio-description__list-statistics {
  margin: 0;
  padding: 0;
  list-style: none;
}

.studio-description__orders-item {
  margin-bottom: 35px;
}

.studio-description__list-header {
  margin-top: 40px;
  text-transform: uppercase;
}

.studio-description__orders-item:not(:first-child)::before {
  content: "";
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  background-color: #fb565a;
}

.studio-description__right {
  display: flex;
  flex-direction: column;
}

.studio-description__image {
  margin-bottom: 41px;
}

.studio-description__statistics {
  margin-top: 41px;
  text-transform: uppercase;
}


.studio-description__list-statistics {
  margin-top: 49px;
  display: flex;
}

.studio-description__statistics-item {
  margin-bottom: 27px;
}

.studio-description__item-count {
  position: relative;
  font-size: 45px;
  line-height: 10px;
}

.company-partners {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 46px 140px 44px 140px;
}

.company-partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  margin: 0;
  padding: 0;
  padding-left: 31px;
  padding-right: 46px;
  list-style: none;
  border-top: 2px solid #eee;
  border-bottom:  2px solid #eee;
}

.company-partners__item {
}

.company-partners__item-image {
  vertical-align: middle;
}

.company-partners__item:not(:last-child)::after {
  margin-left: 50px;
  display: inline-block;
  content: "";
  width: 2px;
  height: 52px;
  vertical-align: middle;
  background-color: #eee;
}


.map {
  position: relative;
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  background-color: yellow;
}

.map__address {
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  left: 140px;
  width: 319px;
  height: 308px;
  padding: 54px 50px 47px 50px;
  background-color: #fff;
  border: 1px solid #000;
}

.map__address-header {
  display: block;
  margin-bottom: 32px;
  font-size: 18px;
  text-transform: uppercase;
}

.map__address-description,
.map__address-link {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.map__address-description {
  margin-bottom: 20px;
}

.map__address-link {
  display: block;
  margin-bottom: 37px;
  text-decoration: none;
}

.map__address-button {
  width: 219px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  background-color: #fb565a;
  color: #ffffff;
}

.map__marker {
  position: absolute;
  top: 89px;
  right: 389px;
}

.main-footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  height: 217px;
  padding-left: 140px;
  padding-right: 356px;
}

.main-footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  margin-right: 12px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.main-footer__item--vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer__item--fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer__item--insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*КАТАЛОГ*/
